<!DOCTYPE html>
<html>
<body>

    <b> Account Created Successfully!</b>
    <form method="get" action="/login_page">
        <b>Login:</b>
      <input type="submit" value="Login">
      </form> 
      
      
      <form method="get" action="/create_account">
        <b> Create another account: </b>
      <input type="submit" value="Create Account">
      </form> 

      <form method="get" action="/">
        <b> Go back to the homepage: </b>
      <input type="submit" value="Home">
      </form> 
      
</body>
</html>